  
<div class="contenedor">
    <div class="contenedor-carta">
        <div class="carta"  th:each="propiedad: ${propiedades}">

            <a   th:href="@{/propiedad/__${propiedad.id}__}"><img class="carta-img" th:src="@{/imagen/__${propiedad.imagenes.get(0).id}__}" alt="imagen de propiedad" ></a>
            <div class="carta-cuerpo">
                <h5 class="carta-titulo" th:text="${propiedad.titulo}"></h5>
                <div class=" carta-texto line-clamp">
                    <p class="line-clamp"  th:text="${propiedad.descripcion}"></p>
                </div>
                
               
                     <p  class="carta-prec" th:text="${propiedad.valor}"></p>
                
               
                <div class="carta-btn">
                    <a class="bton" th:href="@{/propiedad/__${propiedad.id}__}">ver propiedad</a>
                    
                </div>

            </div>
        </div>

    </div>

</div>