*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
  .navbar {

    display: flex;
    flex-direction: row;
    padding: 1.3rem;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;

  }
#icon {
    display: absolute;
    left:.8px;
    height: 50px;
}
#icon img{
    height: 100%;
    width:100%;
}

#links  {
    display: flex;
    flex-direction: row;

    align-items: center;
}
#links li {
    background-color: #f0e3c0;
    margin-left: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.4rem;
    border: 1.1rem #7a7a80;
    border-radius: 17%;
    list-style: none;
    box-shadow: 0 1px 1px #7a7a80;
}

#links li a {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
}

#btn {
    cursor: pointer;
    height: 40px;
    background-color: #222222;
    color: aliceblue;
    margin-left:20px;
    padding: 10px 15px;
    font-weight: bold;
    border: 1.4px solid #222222;
    border-radius: 17%;
    box-shadow: 0 6px 6px #222222;
}
#menu{
    display:none;
    position: absolute;
    right:0.8rem;
    top:2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

#menu .barra {

    height:10px;
    width: 100%;
    background-color: #222222;
    border-radius:12px;
    margin-top: 2px;
}


#links li:hover {
    background-color: white;
}

#icon:hover {
    transform: scale(1.2);
}

#btn:hover {
    background-color: aliceblue;
    color: #222222;
}








/* login*/
.login-contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1602343168117-bb8ffe3e2e9f?auto=format&fit=crop&q=80&w=1450&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.login {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 450px;
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid #222222;
  border-radius: 0.5rem;
  box-shadow: 6px 8px 10px #222222;
}

.login h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}


.inpt-cont{
  position: relative;
  width: 300px;
  border-bottom: 1px solid #ffffff;
  margin: 20px 0;
}


.inpt-cont label{
  position: absolute;
  color: #ffffff;
  top:50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: .3s;
}
input:focus ~ label,
input:valid ~ label{
  top: -1px;
}
.inpt-cont input {
  height: 40px;
  width: 100%;
  padding-left: 0;
  outline: none;
  font-size: 1.2rem;
  border: none;
  background:transparent; 
  color: 
  #fffcfc
  ;
}



.login-form button {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #222222;
  height: 50px;
  width: 100%;
  margin: 0.9rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 12px;
  border-radius: 20px;
  background-color: #fffcfc;
  box-shadow: 0 1px 1px white;
}

.login-form button:hover {
  transform: scale(1.1);
  background-color: #646566;
  color: aliceblue;
  box-shadow: 0 2px 2px #222222;
  cursor: pointer;
}


.login-form p {
  color: #ffffff;
  font-size: 1rem;
}

.login-form p a{
  font-size: 1.2rem;
  text-decoration: none;
  color: 
  #1508ff
  ;
}
/*   Contenedor de cartas*/


.contenedor{
    padding: 0.6rem; 
    height: auto;
    width: 100%;
    overflow: hidden;
}

.contenedor-carta{
    display: inline-block;
    height: auto;
    width: 100%;
    margin-left:200px;
    margin-right: 250px;
    margin-top: .6rem; 
    padding: .6rem;
}

.carta{
    display: flex;
    flex-direction: column;
    float:left;
    height:380px;
    width: 300px;
    background-color:#ffffff;
    padding:.15rem;
    margin:0.6rem;
    border-radius: .80rem;
}

.carta-cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.carta-img{
  width: 100%;
  height:200px;
  margin-bottom: .5rem;
  border-radius: .4rem;
  box-shadow: 1px 1px 1px 1px #222222;
}


.carta-titulo{

  font-size: 1.2rem;
  font-weight: bold;
  color:#0b056e;
  margin-bottom: .5rem;

}
.carta-texto{
  color:#050505;
  margin-bottom: .5rem;
}
.carta-btn{
  width: 100%;
  height:60px;

}
.bton{
  height: 35px;
  width: 130px;
  padding: .3rem;
  text-decoration: none;
  text-align: center;
  color:aliceblue;
  cursor:pointer;
  background-color: #0b056e;
  border: 1px solid white;
  border-radius: .8rem;
  box-shadow: 0 2px 2px  #0b056e;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

.bton-modificar{
  height: 35px;
  width: 130px;
  padding: .3rem;
  text-decoration: none;
  text-align: center;
  color:aliceblue;
  cursor:pointer;
  background-color: #fcba03;
  border: 1px solid white;
  border-radius: .8rem;
  box-shadow: 0 2px 2px  #0b056e;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

.bton:hover{
    transform: scale(.9);
}
@media (max-width : 1536px ){

  .carta{
     transform: scale(0.8);
  }
  
  .contenedor-carta{
      margin-left: 150px;
      margin-right: 170px;
  }
}

@media (max-width : 1280px ){
  
  .carta{
     transform: scale(0.9);
  }
  
   .contenedor-carta{
        margin-left: 90px;
        margin-right: 120px;
    }
  
}
@media (max-width : 1024px ){
  
  .carta{
     transform: scale(1);
  }
   .contenedor-carta{
        margin-left: 60px;
        margin-right: 100px;
    }
  
}

@media (max-width : 768px ){
  
  .contenedor{
     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
   .contenedor-carta{
        margin-left: 80px;
        margin-right: 80px;
    }
  .carta{
     transform: scale(1.1);
     margin-bottom: 60px; 
  }
  
}
@media (max-width : 600px ){
  
  .contenedor{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .carta{
     transform: scale(1.2);
     margin-bottom: 80px; 
  }


    .contenedor-carta{
        margin-left: 100px;
        margin-right: 50px;
    }
    
    .propiedad-descrip{
        display: block;
    }
}


/* propiedad */

#carouselPropiedad{
    height: 75vh;
    .carousel-inner{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        height: 100%;
        .carousel-item{
            object-fit: cover;
            margin:0%;
            >img{
                height: 100%;
            }
        }
    }
}

.volver-eliminar{
    position: fixed;
    top: 20vh;
    width: 100%;
}


/* Registro Usuario */

.registro-contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1544984243-ec57ea16fe25?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.registro {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 650px;
  padding: 1.2rem;
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 0.5rem;
  box-shadow: 6px 8px 10px #222222;
}

.registro h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #222222;
}

.registro .registro-inptcont, .modale .registro-inptcont {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #222222;
  margin: 20px 0;
}
.registro-inptcont textarea{
    width: 100%;
    height: 80px;
}
.registro-inptcont label {
  position: absolute;
  color: #222222;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
}
.registro-inptcont input:focus ~ label,
.registro-inptcont input:valid ~ label {
  top: -1px;
}

.registro-inptcont input , .modale form input{
  height: 40px;
  width: 100%;
  padding-left: 0;
  outline: none;
  font-size: 1.2rem;
  border: none;
  background: transparent;
  color: #222222;
}
.input-img{
    display: flex;
    flex-direction: row;
    padding: .4rem
}
.registro-form button {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #ffffff;
  height: 50px;
  width: 100%;
  margin: 0.9rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 12px;
  border-radius: 20px;
  background-color: #222222;
  box-shadow: 0 1px 1px white;
}

.registro-form button:hover {
  transform: scale(1) ;
  background-color: #646566;
  color: aliceblue;
  box-shadow: 0 2px 2px #222222;
  cursor: pointer;
}

.registro-form p {
  color: #222222;
  font-size: 1rem;
}

.registro-form p a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #1508ff;
}


/* Propiedad detalles */

.contenedor-propiedad{
    
    display: flex;
    
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.propiedad{
    height: auto;
    
    width: 80%;
}
.contenedor-img-propiedad{
    
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
#adelante{
    position: relative;
    background:none ;
    border: none;
    cursor: pointer;
}
#atras{
    padding-left: 10px;
    position: relative;
    background:none ;
    border: none;
    cursor: pointer;
}

#imagen{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1 ) ;

}

.imagen-oculta{
    height: 600px;
    width: 100%;
    transition: 1s;
}
.imagen-oculta img{
    width: 100%;
    height: 100%;
    border-radius:20px;
}

.propiedad-descrip{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    margin-top: 20px;
    height: 800px;
    padding:.2rem;
}
.descripcion{
    border-bottom: 0.5px solid #7d7d7d;
}
.descrip{
    height: 300px;
    width: 100%;
    margin-top: 20px;
    
    border-bottom: 2px solid #050505;
    padding: .3rem;
}
.reserva{
    width: 34%;
    height: 400px;
    margin:.9rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    box-shadow: 0 12px 12px #222222;
}
.reserva h2{
    margin:20px;
}
.check-in{
    display: grid;
    grid-template-columns: 50% 50%;

}
.fechainicio{
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid #222222;
    border-radius: .5rem;
    padding: .2rem;
}
.fechainicio input{
    width: 100%;
}
.fechafinal{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    margin-right: 20px;
    border: 1px solid #222222;
    border-radius: .5rem;
    padding: .2rem;
}
.reservar-btn{
    display: block;
    height: 50px;
    width: 90%;
    text-decoration: none;
    text-align: center;
   font-size: 1.2rem;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #222222;
    border-radius: .7rem;
    background-color: red;
    color: #fff;
}
.datos-propiedad{
    margin:.6rem;
    padding: 1.2rem;
    width: 60%;
    background: #fff;
}
.servicios-propiedad{
    margin: .6rem;
    padding:1.2rem;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid #7d7d7d;
}
.servicios-propiedad ul, .dtalles-serv ul{
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
    margin: 10px;
}
.servicios-propiedad li, .dtalles-serv li{
    height: 40px;
    padding-left: .3rem;
    margin: 5px;
    font-size: 1.2rem;
  
    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
}
.servicios-propiedad li:nth-child(n+7){
    display: none;
}
#mostrar-servicios{
    display: block;
    height: 50px;
    width:150px;
   padding: .4rem;
   border-radius: .4rem;
   border: 1px solid #7d7d7d;
   border-radius: 14px;
   background-color: #fff;
   font-size: 1.2rem;
   cursor: pointer;
   margin-top: auto ;
}
#mostrar-td-serv{
    display: none;
    flex-direction: column;
    position: absolute;
    height: 800px;
    width: 700px;
    left: 40%;
    padding: .5rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2 );
    overflow: auto;
}
.salir-cont{
    
    height: 15px;
   margin-bottom: 40px;
}
.salir-cont button{
    border: none;
    background-color: #ffffff;
}
#salir{
    width: 15px;
    height:100%;
    
}
.salir-active{
    display: none;
}
.dtalles-serv{
    height: 100%;
    width: 100%;
}
.titulo-dtl-serv{
    display: block;
    height: 50px;
    width: 600px;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid #222222;
}

.calificacion{
    padding: .5rem;
    height: 50px;
    border-bottom: 1px solid #222222;
}
.calificacion img {
    height: 100%;
}
.comentario-contenedor{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px ;
    grid-gap: 20px;
    justify-content: center;
   
    
}
.comentario{
    padding: .4rem;
     border-bottom: 2px solid #1508ff;
     box-shadow: 0 20px 20px rgba(0,0,0,0.1);
     border-radius: 10px;
     animation: aparicion linear both;
     animation-timeline: view();
     animation-range: entry 50% cover 50%
}
.comentario:nth-child(n+7){
    display: none;
}
.comentario-par{
  width: 100%;
  overflow: hidden;
}
.comentario-par{
    margin: 10px;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 3;
  -webkit-box-orient:vertical;
}
.perfil-coment{
    display: flex;
    flex-direction: row;
    
}
.perfil-data{
    padding: .3rem;
    margin-left: 10px;
    
}
#eliminar-btn {
    display: block ;
    margin-left: auto; 
    height: 40px;
    padding:.5rem; 
    background-color: #555;
    text-decoration: none;
    font-size: clamp(.7rem, 1vw, 1.25rem);
    border-radius:20px;
}
.imagen-perfil{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.imagen-perfil img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

@keyframes aparicion{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

    /* perfil cambiar password */
#botn-camb{
    padding-block:.5rem;
    padding: .3rem;
    border: none;
    border-radius: .2rem;
    background-color: #e6c56c;
    font-weight: bolder;
    color:#888;
}

.modale{
   padding: 3em;
   max-width: 60ch;
   border: 0;
   height: 400px;
   left: 45%;
   top: 40%;
   border-radius: 2rem;
   background-color: 
   box-shadow : 0 0 3rem rgba(0 0 0 / .4);
}
.modale form button{
    border: 0;
    margin: .3rem;
    padding: .4em;
    background-color: #e6c56c;
    border-radius: 2rem;
    
}
#cerrar-modal{
    border: 0;
    margin:.3rem;
    border-radius: 2rem;
    padding: .5rem;
    background-color: #0508ad;
    color: #fffcfc;
    float: left;
}
.modale::backdrop{
    background: rgba(0 0 0 / .4);
    
    
}
/* perfil Usuario */
#navegador{
    --bs-nav-link-color: var(--bs-white);
    --bs-nav-pills-link-active-color: var(--bs-primary);
    --bs-nav-pills-link-active-bg: var(--bs-white);
}

#toggleBtn {
      cursor: pointer;
}
#foto-de-perfil {
  width: 250px; 
  height: 250px; 
  border-radius: 50%; 
}
#lista-imagenes{
  width: 350px; 
  height: 350px;

}
