*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
  .navbar {

    display: flex;
    flex-direction: row;
    padding: 1.3rem;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;

  }
#icon {
    display: absolute;
    left:.8px;
    height: 50px;
}
#icon img{
    height: 100%;
    width:100%;
}

#links  {
    display: flex;
    flex-direction: row;

    align-items: center;
}
#links li {
    background-color: #f0e3c0;
    margin-left: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.4rem;
    border: 1.1rem #7a7a80;
    border-radius: 17%;
    list-style: none;
    box-shadow: 0 1px 1px #7a7a80;
}

#links li a {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
}

#btn {
    cursor: pointer;
    height: 40px;
    background-color: #222222;
    color: aliceblue;
    margin-left:20px;
    padding: 10px 15px;
    font-weight: bold;
    border: 1.4px solid #222222;
    border-radius: 17%;
    box-shadow: 0 6px 6px #222222;
}
#menu{
    display:none;
    position: absolute;
    right:0.8rem;
    top:2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

#menu .barra {

    height:10px;
    width: 100%;
    background-color: #222222;
    border-radius:12px;
    margin-top: 2px;
}


#links li:hover {
    background-color: white;
}

#icon:hover {
    transform: scale(1.2);
}

#btn:hover {
    background-color: aliceblue;
    color: #222222;
}








/* login*/
.login-contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1602343168117-bb8ffe3e2e9f?auto=format&fit=crop&q=80&w=1450&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.login {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 450px;
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, .13);
  border: 1px solid #222222;
  border-radius: 0.5rem;
  box-shadow: 6px 8px 10px #222222;
}

.login h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}


.inpt-cont{
  position: relative;
  width: 300px;
  border-bottom: 1px solid #ffffff;
  margin: 20px 0;
}


.inpt-cont label{
  position: absolute;
  color: #ffffff;
  top:50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: .3s;
}
input:focus ~ label,
input:valid ~ label{
  top: -1px;
}
.inpt-cont input {
  height: 40px;
  width: 100%;
  padding-left: 0;
  outline: none;
  font-size: 1.2rem;
  border: none;
  background:transparent; 
  color: 
  #fffcfc
  ;
}



.login-form button {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #ffffff;
  height: 50px;
  width: 100%;
  margin: 0.9rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 12px;
  border-radius: 20px;
  background-color: #222222;
  box-shadow: 0 1px 1px white;
}

.login-form button:hover {
  transform: scale(1.1) rotate(0.3deg);
  background-color: #646566;
  color: aliceblue;
  box-shadow: 0 2px 2px #222222;
  cursor: pointer;
}


.login-form p {
  color: #ffffff;
  font-size: 1rem;
}

.login-form p a{
  font-size: 1.2rem;
  text-decoration: none;
  color: 
  #1508ff
  ;
}
/*   Contenedor de cartas*/


.contenedor{
    padding: 0.6rem; 
    height: auto;
    width: 100%;
    overflow: hidden;
}

.contenedor-carta{
    display: inline-block;
    height: auto;
    width: 100%;
    margin-left:200px;
    margin-right: 200px;
    margin-top: .6rem; 
    padding: .6rem;
}

.carta{
    display: flex;
    flex-direction: column;
    float:left;
    height:380px;
    width: 300px;
    background-color:#ffffff;
    padding:.15rem;
    margin:0.6rem;
    border-radius: .80rem;
}

.carta-cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.carta-img{
  width: 100%;
  height:200px;
  margin-bottom: .5rem;
  border-radius: .4rem;
  box-shadow: 1px 1px 1px 1px #222222;
}


.carta-titulo{

  font-size: 1.2rem;
  font-weight: bold;
  color:#0b056e;
  margin-bottom: .5rem;

}
.carta-texto{
  color:#050505;
  margin-bottom: .5rem;
}
.carta-btn{
  width: 100%;
  height:60px;

}
.bton{
  height: 35px;
  width: 130px;
  padding: .3rem;
  text-decoration: none;
  text-align: center;
  color:aliceblue;
  cursor:pointer;
  background-color: #0b056e;
  border: 1px solid white;
  border-radius: .8rem;
  box-shadow: 0 2px 2px  #0b056e;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

.bton-modificar{
  height: 35px;
  width: 130px;
  padding: .3rem;
  text-decoration: none;
  text-align: center;
  color:aliceblue;
  cursor:pointer;
  background-color: #fcba03;
  border: 1px solid white;
  border-radius: .8rem;
  box-shadow: 0 2px 2px  #0b056e;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

.bton:hover{
    transform: scale(.9);
}
@media (max-width : 1536px ){

  .carta{
     transform: scale(0.8);
  }
  
}

@media (max-width : 1280px ){
  
  .carta{
     transform: scale(0.9);
  }
  
}
@media (max-width : 1024px ){
  
  .carta{
     transform: scale(1);
  }
  
}

@media (max-width : 768px ){
  
  .contenedor{
     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .carta{
     transform: scale(1.1);
     margin-bottom: 60px; 
  }
  
}
@media (max-width : 600px ){
  
  .contenedor{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .carta{
     transform: scale(1.2);
     margin-bottom: 80px; 
  }


    .contenedor-carta{
        margin-left: 180px;
        margin-right: 180px;
    }
    .carta{
        transform: scale(0.8);
    }

}


/* propiedad */

#carouselPropiedad{
    height: 75vh;
    .carousel-inner{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        height: 100%;
        .carousel-item{
            object-fit: cover;
            margin:0%;
            >img{
                height: 100%;
            }
        }
    }
}

.volver-eliminar{
    position: fixed;
    top: 20vh;
    width: 100%;
}