<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--   HEAD PROPIO COPIADO DEL FRAGS PARA PONER UN LINK DE CSS PROPIO   -->
    <head>
        <title>Asado y Pileta</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
        <link rel="stylesheet" 
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
        <link rel="stylesheet"  th:href="@{/css/styleConfirmacionReserva.css}"/>
    </head>

    <body>
        <header th:replace="fragmentos/frags :: header"></header>

        <main>
            <div class="container-lg">


                <div class="carousel-item active">
                    <!--                                            FORMULARIO DE RESERVA                       -->

                    <div class="container d-lg-flex">
                        <div class="box-1 bg-light user">
                            <div class="d-flex align-items-center mb-3">
                                <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}"
                                     class="pic rounded-circle" alt="foto de perfil" />
                                <p class="ps-2 name" th:text="'Controla tu reserva ' +${cliente.nombre}"></p>
                            </div>
                            <div class="box-inner-1 pb-3 mb-3">
                                <div class="d-flex justify-content-between mb-3 userdetails">
                                    <p class="fw-bold" th:text="${propiedad.titulo}"></p>
                                    <p class="fw-lighter" th:text="'Precio: U$s '+${propiedad.valor}">
                                        <span class="fas fa-dollar-sign"></span>
                                    </p>
                                </div>
                                <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                                     data-bs-interval="2000">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" alt="foto de propiedad" th:src="@{/imagen/__${propiedad.imagenes.get(0).getId()}__}"/>
                                        </div>  
                                        <div class="carousel-item" th:each="imagen : ${propiedad.imagenes}">
                                            <img class="d-block w-100" alt="foto de propiedad" th:if="${propiedad.imagenes.get(0).getId()} != ${imagen}" th:src="@{/imagen/__${imagen.id}__}"/>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#my"
                                            data-bs-slide="prev">
                                        <div class="icon">
                                            <span class="fas fa-arrow-left"></span>
                                        </div>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#my"
                                            data-bs-slide="next">
                                        <div class="icon">
                                            <span class="fas fa-arrow-right"></span>
                                        </div>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <p class="dis my-3 info" th:text="${propiedad.descripcion}"></p>
                                <p class="dis mb-3 updates" th:text="'Ubicacion: '+${propiedad.ubicacion}"></p>
                                <p class="dis mb-3 different" 
                                   th:text="'Fecha reserva: '+${reserva.fechaInicio.toString.substring(4,10)}+' al '
                                   +${reserva.fechaFin.toString.substring(4,10)}"
                                   ></p>
                                <div class="dis" th:each="servicio : ${propiedad.servicios}">
                                    <p class="black" >
                                        <i class="bi bi-arrow-right"></i> &ensp; <span th:text="${servicio.tipoComodidad}"></span>
                                    </p>
                                </div>
                                <div>
                                    <p class="dis footer my-3">footer de contenido random</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-2">
                            <div id="formularioReserva" class="box-inner-2">
                                <div>
                                    <p class="fw-bold">Detalle de la reserva</p>
                                    <p class="dis mb-3">
                                        Complete el formulario con sus datos personales y la
                                        forma de pago.
                                    </p>
                                </div>
                                <form method="POST" th:action="@{/reserva/registro}">
                                    <div class="mb-3">
                                        <p class="dis fw-bold mb-2">Email</p>
                                        <input class="form-control" type="email" th:value="${cliente.usuario.email}"
                                               placeholder="E-Mail" />
                                    </div>
                                    <div>
                                        <p class="dis fw-bold mb-2">Detalle de la tarjeta</p>
                                        <div
                                            class="d-flex align-items-center justify-content-between card-atm border rounded">
                                            <div class="fab fa-cc-visa ps-3"></div>
                                            <input type="text" class="form-control" placeholder="Nro de tarjeta" />
                                            <div class="d-flex w-50">
                                                <input type="text" class="form-control px-0" placeholder="MM/YY" />
                                                <input type="password" maxlength="3" class="form-control px-0"
                                                       placeholder="CVV" />
                                            </div>
                                        </div>
                                        <div class="my-3 cardname">
                                            <p class="dis fw-bold mb-2">Nombre del títular</p>
                                            <input class="form-control" type="text" th:value="${cliente.nombre}+' '+${cliente.apellido}"
                                                   placeholder="Nombre y Apellido" disabled="true" />
                                        </div>
                                        <div class="address">
                                            <p class="dis fw-bold mb-3">
                                                Dirección de facturación
                                            </p>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected hidden>Argentina</option>
                                                <option value="1">Argentina</option>
                                                <option value="1">Uruguay</option>
                                                <option value="2">Brasil</option>
                                                <option value="3">Chile</option>
                                            </select>
                                            <div class="dis fw-bold mb-3">
                                                <input class="form-control zip" type="text" placeholder="Codigo Postal" />
                                                <input class="form-control state" type="text" placeholder="Provincia"
                                                       value="Buenos Aires" />
                                            </div>
                                            <div class="dis fw-bold mb-3">
                                                <p class="dis fw-bold mb-2">Seleccione los servicios deseados</p>
                                                <div class="form-check form-switch" th:each="servicio : ${propiedad.servicios}">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch"
                                                           name="serviciosElegidas" th:value="${servicio.tipoComodidad}" />
                                                        <label class="form-check-label" for="flexSwitch" th:text="${servicio.tipoComodidad}"></label>
                                                        <!----          Checkbox de Servicios deseados            ----->
                                                </div>
                                            </div>
                                            <div>
                                                <p class="dis fw-bold mb-2">Mensaje para el propietario</p>
                                                <textArea class='form-control' name="mensaje" col='20' row='10'
                                                          placeholder='Escriba su mensaje...'></textArea> <!-- input Mensaje -->
                                            </div>
                                            <div class="d-flex flex-column dis">
                                                <div class="d-flex align-items-center justify-content-between mb-2">
                                                    <p class="fw-bold">Total</p>
                                                    <p class="fw-bold">
                                                        <i class="bi bi-currency-dollar"></i>
                                                        <span th:text="${propiedad.valor}"></span>
                                                    </p>
                                                </div>
                                                <input type="number" id="montoTotal" name="montoTotal" class="form-control"
                                                       th:value="${propiedad.valor}" hidden="true" />  <!--  input MontoTotal -->
                                                <input type="date" name="fechaInicio" th:value="reserva.fechaInicio" /> <!--  input fechaInicio  -->
                                                <input type="date" name="fechaFin" th:value="reserva.fechaFin"/>   <!--  input fechaFin  -->
                                                <input type="text" name="idPropiedad" th:value="propiedad.id"/>    <!--  input idPropiedad   --->
                                                <button class="btn btn-primary mt-2" type="button" onclick="reserva()">
                                                    Realizar Reserva</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="formularioCarga" class="box-inner-2 justify-content-center">
                                <div class="spinner-border text-warning align-self-center" role="status">
                                    <span class="visually-hidden ">Loading...</span>
                                </div>
                            </div>

                            <div id="exitoReserva" class="box-inner-2 justify-content-center">
                                <diV class="">
                                    <div class="h3 text-center text-primary">Operación exitosa!!!</div>
                                    <div class="text-center text-danger">
                                        <i class="bi bi-paypal" style="font-size: 5rem;"></i>
                                        <p>Su pago a sido registrado exitosamente!!!
                                            En unos instantes recibirá la factura correspoondiente en su correo
                                            electrónico o puede descargarla en el siguiente enlace.
                                        </p>
                                        <button type="button" class="btn btn-outline-info" style="border: 0px;">descargar factura: reserva Nro:48630***</button>
                                    </div>
                                </diV>
                            </div>

                        </div>
                    </div>

                    <!--                                            FORMULARIO DE RESERVA                       -->
                </div>

            </div>


        </main>

        <footer th:replace="fragmentos/frags :: footer"></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>   
        <script type="text/javascript" th:href="@{/js/confirmacionReserva.css}"></script>
    </body>
</html>

