<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragmentos/frags :: head"></head>
    <body>
        <nav class="navbar">    
            <div id="icon">
                <span><img src="apple-touch-icon.png" alt="icono"/></span>
            </div>        
            <button id="btn">Registrarse</button>        
        </nav>    
        <div class="login-contenedor">
            <h2>INGRESAR</h2>
            <div class="login">
                <div class="login-form">
                    <form th:action="@{/logincheck}" method="POST">    
                        <input type="text" name="email" placeholder="Email"/>
                        <input type="password" name="password" placeholder="Password"/>                    
                        <button class="btn">Ingresar</button>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
