
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragmentos/frags :: head"></head>
    <body>
        <header th:replace="fragmentos/frags :: header"></header>
        <main>
            <section class="volver-eliminar">
                <div class="container-fluid d-flex flex-wrap justify-content-between">
                    <div class="volver">
                        <a class="btn btn-outline-secondary" th:href="@{/}">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                    </div>
                    <div class="eliminar">
                        <a class="btn btn-outline-danger" th:href="@{/propiedad/eliminar/__${propiedad.id}__}">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </div>
            </section>
            <div class="main_container">
                <h2 class="h1 text-center">Modificar Propiedad</h2>
                <div  class="container">
                    <form th:action="@{/propiedad/modificar/__${propiedad.id}__}" method="POST" enctype="multipart/form-data">
                        <input hidden="true" th:value="${propiedad.id}" name="id"/>
                        <div class="row g-2 align-items-center">
                            <div class="form-group">
                                <label for="titulo" class="form-label"><span class="h3">Título</span></label>                           
                                <input type="text" class="form-control" id="titulo" name="titulo" th:value="${propiedad.titulo}"/>
                            </div>
                            <div class="form-group">
                                <label for="pais" class="form-label"><span class="h3">País</span></label>                           
                                <input type="text" class="form-control" id="pais" name="pais" placeholder="pais" th:value="${propiedad.ubicacion.pais}"/>
                            </div>
                            <div class="form-group">
                                <label for="provincia" class="form-label"><span class="h3">Provincia</span></label>                           
                                <input type="text" class="form-control" id="provincia" name="provincia" placeholder="provincia" th:value="${propiedad.ubicacion.provincia}"/>
                            </div>
                             <div class="form-group">
                                <label for="departamento" class="form-label"><span class="h3">Departamento</span></label>                           
                                <input type="text" class="form-control" id="departamento" name="departamento" placeholder="departamento" th:value="${propiedad.ubicacion.departamento}"/>
                            </div>
                             <div class="form-group">
                                <label for="localidad" class="form-label"><span class="h3">Localidad</span></label>                           
                                <input type="text" class="form-control" id="localidad" name="localidad" placeholder="localidad" th:value="${propiedad.ubicacion.localidad}"/>
                            </div>
                            <div class="form-group">
                                <label for="calle" class="form-label"><span class="h3">Calle</span></label>                           
                                <input type="text" class="form-control" id="calle" name="calle" placeholder="calle" th:value="${propiedad.ubicacion.calle}"/>
                            </div>
                            <div class="form-group">
                                <label for="numeracion" class="form-label"><span class="h3">Numeración</span></label>                           
                                <input type="text" class="form-control" id="numeracion" name="numeracion" placeholder="numeracion" th:value="${propiedad.ubicacion.numeracion}"/>
                            </div>
                            <div class="form-group">
                                <label for="observaciones" class="form-label"><span class="h3">Observaciones</span></label>                           
                                <input type="text" class="form-control" id="observaciones" name="observaciones" placeholder="observaciones" th:value="${propiedad.ubicacion.observaciones}"/>
                            </div>
                            <div class="form-group">
                                                       
                                <input hidden type="number" class="form-control" id="latitud" name="latitud" th:value="${propiedad.ubicacion.latitud}"/>
                            </div>
                            <div class="form-group">
                                                         
                                <input hidden type="number" class="form-control" id="longitud" name="longitud" th:value="${propiedad.ubicacion.longitud}"/>
                            </div>
                            <div class="form-group">
                                <label for="valor" class="form-label"><span class="h3">Valor</span></label>                           
                                <input type="number" class="form-control" id="valor" name="valor" th:value="${propiedad.valor}" min="0"/>
                            </div>
                            <div class="form-group">
                                <select class="form-select" aria-label="Tipo de propiedad" name="tipo">
                                    <option th:each="tipo : ${tipoPropiedades}" th:value="${tipo.getTipo()}" th:text="${tipo.getTitulo()}" th:selected="${tipo==propiedad.tipo}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <span class="h3 form-label">Servicios</span>                
                                <div th:each="servicioElem : ${servicios}" class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" th:id="${servicioElem.tipoComodidad}" th:value="${servicioElem.tipoComodidad}" 
                                           name="serviciosInput" th:checked="${#lists.contains(propiedad.servicios, servicioElem)}"/>
                                    <label class="form-check-label" th:for="${servicioElem.tipoComodidad}" th:text="${servicioElem.tipoComodidad}">Comodidad</label>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label for="imagenes" class="form-label"><span class="h3">Imágenes</span></label>                           
                                <input type="file" class="form-control" id="imagenes" name="imagenesInput" multiple="true"/>
                            </div>
                            <div class="form-group">
                                <label for="descripcion" class="form-label"><span class="h3">Descripción</span></label>                            
                                <textarea class="form-control" rows="6" id="descripcion" name="descripcion" th:field="*{propiedad.descripcion}"></textarea>
                            </div>
                            <div >
                             
                           <div class="form-group" th:if="${propiedad.estado}==true">
                          <input th:value="true" type="radio"  id="estado" name="estado" th:checked="true">
                         <label th:for="alta">Alta</label> 
                         <br>
                         <input th:value="false" type="radio" id="estado2" name="estado"  >
                         <label th:for="alta2" >Baja</label>  
                         </div>   

                          <div class="form-group" th:if="${propiedad.estado}!=true">
                         <input th:value="true" type="radio"  id="estado" name="estado">
                         <label th:for="alta" >Alta</label> 
                         <br>
                        <input th:value="false" type="radio" id="estado2" name="estado" th:checked="true" >
                         <label th:for="alta2" >Baja</label>  

                         </div>
                         </div>   
                         
                        </div>
                        
                        
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary"><span class="h3">Guardar</span></button>
                        </div>
                        <h4>Selecciona las imagenes a eliminar:</h4>
                        <div class="row row-cols-3 form-group">
                            <div class="col card" th:each="imagen : ${propiedad.imagenes}">
                                <img th:src="@{/imagen/__${imagen.id}__}" class="card-img"/>
                                <div class="card-img-overlay">
                                    <input class="form-check-input" type="checkbox" th:id="${imagen.id}" th:value="${imagen.id}" name="imagenesViejas"/>
                                    <label class="form-check-label" th:for="${imagen.id}" th:text="${imagen.nombre}">Imagen</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer th:replace="fragmentos/frags :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>        
    </body>
</html>