<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragments="head">
    <title>Asado y Pileta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet"  th:href="@{/css/style.css}"/>
</head>
    <body>
        <header th:fragments="header" class="p-3 text-bg-secondary">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                        <img src="/AYPIcon.jpg" alt="icono" style="width: 6rem; height: 3rem"/>
                        <span class="h1">Asado y pileta</span>
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Buscá tu dia ideal
                                </button>
                                <ul class="dropdown-menu">
                                    <li th:each="tipo : ${T(com.EquipoB.AsadoYPileta.enumeraciones.TipoPropiedad).values()}">
                                        <a class="dropdown-item" th:text="${tipo.getTipo()}" th:href="@{/propiedad/tipo/${tipo}}">Quincho</a>
                                    </li>                            
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="nav-link px-2 text-white">Preguntas Frecuentes</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Nosotros</a></li>
                    </ul>
                    <div class="text-end">
                         <a th:if="${session.usuariosession == null}" class="btn btn-outline-white" style="border: 0px" role="button" th:href="@{/login}">Ingresar</a>
                         <a th:if="${session.usuariosession == null}" class="btn btn-outline-white" style="border: 0px" role="button" th:href="@{/cliente/registrar}">Registrarse</a>
                         <a th:if="${session.usuariosession != null}" class="btn btn-outline-white" style="border: 0px" role="button" th:href="@{/logout}">Logout</a>
                         <a sec:authorize="hasAnyRole('CLIENTE','PROPIETARIO')" class="btn btn-outline-warning" style="border: 0px" role="button" th:href="@{/propiedad/registrar}">Registrar Propiedad</a>
                         <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('CLIENTE','PROPIETARIO')" class="btn btn-outline-white" style="border: 0px" role="button" >Perfil</a>
                         <a th:if="${session.usuariosession != null}" sec:authorize="hasRole('ADMINISTRADOR')" class="btn btn-outline-white" style="border: 0px" role="button" >Panel Admin</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="left box-primary">
                    <img class="image" src="https://yt3.ggpht.com/-Y4ybONkbdYA/AAAAAAAAAAI/AAAAAAAAAAA/SCMi3HFru2w/s100-c-k-no-rj-c0xffffff/photo.jpg" alt="" />
                    <h3 class="username text-center">Mariane Felix Fernandes</h3>
                    <a href="#" class="btn btn-primary btn-block"><b>Editar foto</b></a>
                </div>
                <div class="right tab-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Nome</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class= "col-sm-12 has-feedback">
                                <label for="" class="control-label">Modalidades que deseja participar</label>
                                <select title="Para escolher várias modalidades, segure a tecla Ctrl" alt="Para escolher várias modalidades, segure a tecla Ctrl" name="modalidades[]" class="form-control" multiple="">
                                    <option value="1">Desportivo - Basquete</option>
                                    <option value="2">Desportivo - Futebol Society</option>
                                    <option value="10">Desportivo - Futevolei</option>
                                    <option value="3">Desportivo - Futsal</option>
                                    <option value="5">Desportivo - Handebol</option>
                                    <option value="18">Desportivo - Natação - Borboleta - 25 metros</option>
                                    <option value="13">Desportivo - Natação - Borboleta - 50 metros</option>
                                    <option value="17">Desportivo - Natação - Costa - 25 metros</option>
                                    <option value="12">Desportivo - Natação - Costa - 50 metros</option>
                                    <option value="19">Desportivo - Natação - Livre - 25 metros</option>
                                    <option value="14">Desportivo - Natação - Livre - 50 metros</option>
                                    <option value="16">Desportivo - Natação - Peito - 25 metros</option>
                                    <option value="11">Desportivo - Natação - Peito - 50 metros</option>
                                    <option value="20">Desportivo - Natação - Revezamento - 4x25 metros</option>
                                    <option value="15">Desportivo - Natação - Revezamento - 4x50 metros</option>
                                    <option value="7">Desportivo - Queimada</option>
                                    <option value="8">Desportivo - Tênis de Mesa</option>
                                    <option value="6">Desportivo - Volei de Praia</option>
                                    <option value="4">Desportivo - Vôlei de Quadra</option>
                                    <option value="9">Desportivo - Xadrez</option>
                                    <option value="22">Cultural - Festival de Dança - Grupo</option>
                                    <option value="21">Cultural - Festival de Dança - Solo/Dupla</option>
                                    <option value="26">Cultural - Festival de Fotografia</option>
                                    <option value="24">Cultural - Festival de Intérpretes - Grupo</option>
                                    <option value="23">Cultural - Festival de Intérpretes - Solo/Dupla</option>
                                    <option value="27">Cultural - Festival de Redação</option>
                                    <option value="25">Cultural - Festival de Teatro</option>
                                    <option value="28">Jogos Digitais - League of Legends</option
                                </select>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Salvar alterações</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:fragments="footer" class="py-2 text-bg-secondary">
        <div class="row w-100 py-3 d-flex justify-content-around">
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ayuda</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Centro de ayuda</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ayuda en caso de discapacidad</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Opciones de cancelación</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Problemnas en el barrio</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cómo ser anfitrión</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Poné tu espacio</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cobertura para anfitriones</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Foro de Anfitriones</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sé un anfitrión responsable</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Asado y Parrilla</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Noticias</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Funciones nuevas</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Empleo</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inversionistas</a></li>
                </ul>
            </div>
            <div class="col-md-5 mb-3">
                <form>
                    <h5>Suscribete a nuestro Portal</h5>
                    <p>Nuevas funciones y ofertas todos los meses</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Dirección de E-Mail</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Dirección de E-Mail">
                        <button class="btn btn-primary" type="button">Suscribirse</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-around my-2 border-top">
            <p>&copy; 2023 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter-x" style="font-size: 2rem"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram" style="font-size: 2rem"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook" style="font-size: 2rem"></i></a></li>
            </ul>
        </div>
    </footer>
</html>
