<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragmentos/frags :: head"></head>
    <body>
        <header th:replace="fragmentos/frags :: header"></header>
        <main>
            
            <section>
             <div class="contenedor-propiedad">
        <div class="propiedad">
          
          <div class="contenedor-img-propiedad">
            
            <button id="atras"><img th:src="@{/imagenes/arrow.png}" alt=".."></button>
            <div id="imagen">
              <div class="imagen-oculta" th:each="imagen : ${propiedad.imagenes}" hidden>
                <img th:src="@{/imagen/__${imagen.id}__}"   alt="">
              </div>
              
              
            </div>
            <button id="adelante" ><img th:src="@{/imagenes/arrow_forward.png}" alt=".."></button>
          </div>
          <div id="mostrar-td-serv">

            <div class="dtalles-serv">
              <div class="titulo-dtl-serv">
                <h2>¿Que ofrecemos?</h2>

              </div>
              
              <ul th:each="servicio : ${propiedad.servicios}" >
                <li  th:text="${servicio.tipoComodidad}"> Limpieza</li>
                
                
                
              </ul>
              
            </div>
          </div>
          <div class="propiedad-descrip">
            <div class="datos-propiedad">
              <div class="descripcion">
                <h2 th:text="${propiedad.titulo}"></h2>
                <p th:text="${propiedad.descripcion}">descripcion</p>
               
              </div>
              
              <div id="contenedor-dts-serv">
                <div class="servicios-propiedad">
                  <h2>¿Que ofrecemos?</h2>
                  
                  <ul >
                    <li id="servicio-dt" >Limpieza</li>
                    
                    
                    
                  </ul>
                  <button id="mostrar-servicios">Mostrar mas</button>
                </div>
              </div>

              <div class="map">
                <map name="propiedad"></map>
              </div>
            </div>

            <div class="reserva">
                
              <h2 th:text="${propiedad.valor}" > </h2>

              <div class="check-in">
                <div class="fechainicio">
                  <label for="fechainicio">Check In</label>
                  <input type="date" id="fechainicio" />
                  
                </div>
                <div class="fechafinal">
                  <label for="fechafinal">Check out</label>
                  <input type="date" id="fechafinal" />
                  
                </div>
              </div>
              <a href="" class="reservar-btn">Reservar</a>
            </div>
          </div>
          <div class="calificacion">
            <img th:src="@{/imagenes/estrella.png}" alt="" i>
          </div>
          <div class="comentario-contenedor">
            

            
            <div class="comentario">
              <div class="perfil-coment">
                <div class="imagen-perfil">
                  <img src="https://images.unsplash.com/photo-1599837826158-79e79f6e032f?auto=format&fit=crop&q=80&w=2078&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                
                <div class="perfil-data">
                  <p>Nombre y apellido</p>
                  <p>fecha de publicacion de comentario</p>
                </div>
              </div>
              <div class="comentario-par">
                <p >lore</p>
              </div>
              
            </div>
            <div class="comentario">
              <div class="perfil-coment">
                <div class="imagen-perfil">
                  <img src="https://images.unsplash.com/photo-1599837826158-79e79f6e032f?auto=format&fit=crop&q=80&w=2078&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                
                <div class="perfil-data">
                  <p>Nombre y apellido</p>
                  <p>fecha de publicacion de comentario</p>
                </div>
              </div>
              <div class="comentario-par">
                <p>lore</p>
              </div>
              
            </div>
            
            
          </div>
        </div>
      </div>
      
            </section>
        </main>
        <footer th:replace="fragmentos/frags :: footer"></footer>
        <script th:src="@{/js/RegistroUsuario.js}" type="text/javascript"></script>     
    </body>
</html>