<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragmentos/frags :: head"></head>
    <body onload="cargar()">
        <header th:replace="fragmentos/frags :: header"></header>
        <main>
            
            <section>
                <div class="contenedor-propiedad">
                    <div class="propiedad">
                        <input type="hidden" id="fechasDisponiblesInput" th:value="${fechasDisponibles}" />
                        <div class="contenedor-img-propiedad">

                            <button id="atras"><img th:src="@{/imagenes/arrow.png}" alt=".."></button>
                            <div id="imagen">
                                <div class="imagen-oculta" th:each="imagen : ${propiedad.imagenes}" hidden>
                                    <img th:src="@{/imagen/__${imagen.id}__}"   alt="">
                                </div>


                            </div>
                            <button id="adelante" ><img th:src="@{/imagenes/arrow_forward.png}" alt=".."></button>
                        </div>
                        <div id="mostrar-td-serv">

                            <div class="dtalles-serv">
                                <div class="salir-cont">
                                    <button><img  id="salir" th:src="@{/imagenes/x.png}"></button>
                                </div>

                                <div class="titulo-dtl-serv">
                                    <h2>¿Que ofrecemos?</h2>

                                </div>

                                <ul th:each="servicio : ${propiedad.servicios}" >
                                    <li  th:text="${servicio.tipoComodidad}"> Limpieza</li>



                                </ul>

                            </div>
                        </div>
                        <div class="propiedad-descrip">
                            <div class="datos-propiedad">
                                <div class="descripcion">
                                    <h2 th:text="${propiedad.titulo}"></h2>


                                </div>

                                <div id="contenedor-dtserv">
                                    <h2>¿Que ofrecemos?</h2>
                                    <div class="servicios-propiedad">
                                        

                                        <ul th:each="servicio : ${propiedad.servicios}">
                                            <li th:text="${servicio.tipoComodidad}">Limpieza</li>



                                        </ul>
                                        
                                    </div>
                                    <button id="mostrar-servicios">Mostrar mas</button>
                                </div>

                                <div class="descrip line-clamp">
                                    <p th:text="${propiedad.descripcion}">descripcion</p>
                                </div>

                                <div class="ubicacion">
                                    <p th:text="${propiedad.ubicacion.pais}">pais</p>
                                    <p th:text="${propiedad.ubicacion.provincia}">pais</p>
                                    <p th:text="${propiedad.ubicacion.departamento}">pais</p>
                                    <p th:text="${propiedad.ubicacion.localidad}">pais</p>
                                    <p th:text="${propiedad.ubicacion.calle}">pais</p>
                                    <p th:text="${propiedad.ubicacion.numeracion}">pais</p>
                                    <p th:text="${propiedad.ubicacion.observaciones}">pais</p>
                                </div>

                            </div>



                            <div class="reserva">
                                <div class="container">
                                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                                        <button type="button" class="btn btn-secondary" onclick="cambiarMes(-1)">Mes Anterior</button>
                                        <span id="mes-actual"></span>
                                        <button type="button" class="btn btn-secondary justify-content-end" onclick="cambiarMes(1)">Mes Siguiente</button>
                                    </div>
                                    
                                        <table class="table table-bordered" id="tablaFechas">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="custom-cell">Domingo</th>
                                                    <th scope="col" class="custom-cell">Lunes</th>
                                                    <th scope="col" class="custom-cell">Martes</th>
                                                    <th scope="col" class="custom-cell">Miércoles</th>
                                                    <th scope="col" class="custom-cell">Jueves</th>
                                                    <th scope="col" class="custom-cell">Viernes</th>
                                                    <th scope="col" class="custom-cell">Sábado</th>
                                                </tr>
                                            </thead>
                                            <tbody id="calendar-body">
                                                <!-- Aquí se generará el contenido del calendario con JavaScript -->
                                            </tbody>
                                        </table>
                                   
                                </div>
                                <h2 th:text="${propiedad.valor}" > </h2>
                                <form th:action="@{/reserva/registrar}"  method="POST"  >

                                    <input th:value="${propiedad.id}"  name="idPropiedad" type="text" hidden>
                                        <div class="check-in">
                                            <div class="fechainicio">
                                                <label for="fechainicio">Check In</label>
                                                <input type="date" id="fechainicio" name="fechaInicio" required/>

                                            </div>
                                            <div class="fechafinal">
                                                <label for="fechafinal">Check out</label>
                                                <input type="date" id="fechafinal" name="fechaFinal" required/>

                                            </div>
                                        </div>
                                        <button class="reservar-btn"  type="submit">Reservar</button>
                                </form>
                            </div>

                        </div>
                        <div class="calificacion">
                            <img th:src="@{/imagenes/estrella.png}" alt="" i>
                        </div>
                        <div class="comentario-contenedor">



                            <div class="comentario">
                                <div class="perfil-coment">
                                    <div class="imagen-perfil">
                                        <img src="https://images.unsplash.com/photo-1599837826158-79e79f6e032f?auto=format&fit=crop&q=80&w=2078&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                                    </div>

                                    <div class="perfil-data">
                                        <p>Nombre y apellido</p>
                                        <p>fecha de publicacion de comentario</p>
                                    </div>
                                    <a th:href="@{/propiedad/eliminar/__${propiedad.id}__}" sec:authorize="hasRole('ADMIN')" id="eliminar-btn">Eliminar Comentario</a> 
                                </div>
                                <div class="comentario-par">
                                    <p >lore</p>
                                </div>

                            </div>
                            <div class="comentario" th:each="comentario : ${comentarios}"  >
                                <div class="perfil-coment">
                                    <div class="imagen-perfil">
                                        <img th:src="@{/imagen/__${comentario.cliente.imagenes[0].id}__}" alt="">
                                    </div>

                                    <div class="perfil-data">
                                        <p th:text="${comentario.cliente.nombre}"></p>
                                        <p th:text="${comentario.cliente.apellido}"></p>
                                    </div>
                                </div>
                                <div class="comentario-par">
                                    <p th:text="${comentario.cuerpo}"></p>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </section>
        </main>
        <footer th:replace="fragmentos/frags :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>   
        <script th:src="@{/js/RegistroUsuario.js}" type="text/javascript"></script>
        <script th:src="@{/js/propiedad.js}" type="text/javascript"></script>
    </body>
</html>
