<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylepuntuacion.css">
        <link rel="stylesheet" href="bootstrap-icon/bootstrap-icon.css">
        <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>

        <title>Clasificacion por estrellas</title>
    </head>
    <body>
        <div class= "container"></div>
        <h3>Clasificacion</h3>
        <div class="Star"></div>
        <a ref=" #"
           class="bi-star-fill"></a>
        <a ref=" #"
           class="bi-star-fill"></a>
        <a ref=" #"
           class="bi-star-fill"></a>
        <a ref=" #"
           class="bi-star-fill"></a>
        <a ref=" #"
           class="bi-star-fill"></a>


        <script> 
            var star= document.querySelectorAll('.star a');

            stars.foreach((item,index1)=>item.addEventListener('click',() =>{
            stars.foreach((star, index2)=>{
            index >= index2 ? star class= classlist.add('active'):classlist.remove('active'):

            })
            }))


        </script>
    </body>
</html>
